:root{
  --spacing: 0px;
}


body {
  background-color: #4EA1ED;
  margin: initial;
}
.other{
  background-color: #66CECF;
  margin-top: -21px;
  margin-left: var(--spacing);
  height: 810px;
  overflow-x : hidden;
  overflow-y : hidden;
}

#otherid{
  background-color: #66CECF;
  margin-top: -21px;
  height: 810px;
  overflow-x : hidden;
  overflow-y : hidden;
  margin-left: 10px;
}

.btndiv{
  position: absolute;
    top: 216px;
    right: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn{
  width: 202px;
  height: 188px;
  font-size: 32px;
}

.vote{
  position: fixed;
    bottom: 16px;
    right: 17px;
    font-size: 32px;
    color: #AFE7EB;
}